{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up for seminars</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="{% static 'database/helpers.js' %}"></script>
    <link href="https://bootswatch.com/5/slate/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="{{ payfast_url }}" method="post">
    {% csrf_token %}

    <!-- PayFast stuff -->
    <input type="hidden" name="merchant_id" value="{{ merchant_id }}">
    <input type="hidden" name="merchant_key" value="{{ merchant_key }}">
    <input type="hidden" name="amount" value="100.00">
    <input type="hidden" name="item_name" value="">

    <div class="container my-5" style="padding-bottom:80px">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <h3 class="card-header">
                        Sign up for our seminars below
                    </h3>
                    <fieldset class="card-body">
                        <div class="py-2">
                            <h5 class="card-header">Parent/guardian's details</h5>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="parentFirstName" class="form-label my-2">First name</label>
                                    <input type="text" class="form-control text-light" id="parentFirstName"
                                           name="parentFirstName"
                                           placeholder="Parent/guardian's first name" required>
                                </div>
                                <div class="form-group col">
                                    <label for="parentLastName" class="form-label my-2">Last name</label>
                                    <input type="text" class="form-control text-light" id="parentLastName"
                                           name="parentLastName"
                                           placeholder="Parent/guardian's last name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="parentEmail" class="form-label my-2">Email address</label>
                                <input type="email" class="form-control text-light" id="parentEmail" name="parentEmail"
                                       placeholder="Parent/guardian's email address" required>
                            </div>
                            <div class="form-group">
                                <label for="parentPhoneNumber" class="form-label my-2">Contact number</label>
                                <input type="tel" class="form-control text-light" id="parentPhoneNumber"
                                       name="parentPhoneNumber"
                                       placeholder="Parent/guardian's contact number">
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="checkbox" value="" id="parentCovidWaiver"
                                       name="parentCovidWaiver" required>
                                <label class="form-check-label" for="parentCovidWaiver">
                                    Do you (the parent/guardian) accept the <a
                                        href="{% static 'database/covid_waiver.txt' %}" target="_blank">Covid waiver</a>?
                                </label>
                            </div>
                        </div>

                        <div class="py-2">
                            <h5 class="card-header">Student's details</h5>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="studentFirstName" class="form-label my-2">First name</label>
                                    <input type="text" class="form-control text-light" id="studentFirstName"
                                           name="studentFirstName"
                                           placeholder="Student's first name" required>
                                </div>
                                <div class="form-group col">
                                    <label for="studentLastName" class="form-label my-2">Last name</label>
                                    <input type="text" class="form-control text-light" id="studentLastName"
                                           name="studentLastName"
                                           placeholder="Student's last name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="studentEmail" class="form-label my-2">Email address</label>
                                <input type="email" class="form-control text-light" id="studentEmail"
                                       name="studentEmail"
                                       placeholder="Student's email address">
                            </div>
                            <div class="form-group">
                                <label for="studentPhoneNumber" class="form-label my-2">Contact number</label>
                                <input type="tel" class="form-control text-light" id="studentPhoneNumber"
                                       name="studentPhoneNumber"
                                       placeholder="Student's contact number">
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="checkbox" value="" id="parentCovidWaiver"
                                       name="parentCovidWaiver" required>
                                <label class="form-check-label" for="parentCovidWaiver">
                                    Do you (the student) accept the <a href="{% static 'database/covid_waiver.txt' %}"
                                                                       target="_blank">Covid waiver</a>?
                                </label>
                            </div>
                        </div>

                        <div class="py-2">
                            <h5 class="card-header">Courses</h5>
                            <h6 class="my-2 text-info">Note on the course levels:</h6>
                            <p><i>Standard level</i> courses are teaching focussed for students who are not completely
                                comfortable with the content.</p>
                            <p><i>Advanced level</i> courses are practice focussed for students who are comfortable with
                                the content and would like more practice.</p>
                            <fieldset class="form-group py-2">
                                {% for seminar in seminars %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                               id="seminarCheckBox{{ seminar.id }}"
                                               name="seminarCheckBox{{ seminar.id }}"
                                               onclick="reset_payment_button()"
                                               data-price="{{ seminar.base_price }}"
                                        >
                                        <label class="form-check-label" for="seminarCheckBox{{ seminar.id }}">
                                            {{ seminar.get_subject_display }} ({{ seminar.get_level_display }} level)
                                            - {{ seminar.date_and_time }} [R{{ seminar.base_price }}]
                                        </label>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                        <div class="form-group py-2">
                            <label for="additionalInfoTextArea" class="form-label mt-4">Anything else we should
                                know?</label>
                            <textarea class="form-control text-light" id="additionalInfoTextArea"
                                      name="additionalInfoTextArea" rows="3"
                                      placeholder="Additional comments..."></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer fixed-bottom mt-5 py-3 bg-primary">
        <div class="container">
            <div class="d-flex justify-content-center">
                <h3 class="text-center" id="paymentText"></h3>
            </div>
            <div class="d-flex justify-content-center">
                <button disabled type="submit" value="OK" class="btn btn-secondary" id="paymentButton">PAY NOW</button>
            </div>
        </div>
    </footer>
</form>
</body>
</html>