{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up for seminars</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="{% static 'database/helpers.js' %}"></script>
    <link href="https://bootswatch.com/5/slate/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-dismissible alert-{{ message.tags }}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">{% if message.level == 40 %}Error{% elif message.level == 25 %}
                Success{% elif message.level == 20 %}Info{% endif %}</h4>
            <p class="mb-0">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}

<form action="{{ payfast_url }}" method="post">
    {% csrf_token %}

    <!-- PayFast stuff -->
    <input type="hidden" name="merchant_id" value="{{ merchant_id }}">
    <input type="hidden" name="merchant_key" value="{{ merchant_key }}">
    <input type="hidden" name="amount" value="">
    <input type="hidden" name="item_name" value="">
    <input type="hidden" name="return_url" value="{{ return_url }}">
    <input type="hidden" name="cancel_url" value="{{ cancel_url }}">
    <input type="hidden" name="notify_url" value="{{ notify_url }}">
    <input type="hidden" name="m_payment_id" value="">
    <input type="hidden" name="item_description" value="">
    <input type="hidden" name="email_confirmation" value="1">
    <input type="hidden" name="confirmation_address" value="nicklasvbud@gmail.com">
    <!-- For the students details [first,last,email,cell] -->
    <input type="hidden" name="custom_str1" value="">
    <!-- For the covid waiver acceptance [bool,bool] -->
    <input type="hidden" name="custom_str2" value="">
    <!-- For the chosen seminars [id,id,id,...] -->
    <input type="hidden" name="custom_str3" value="">
    <!-- For the additional info -->
    <input type="hidden" name="custom_str4" value="">
    <!-- For the parent cell number, since it is lost in the notification -->
    <input type="hidden" name="custom_str5" value="">


    <div class="container my-5" style="padding-bottom:80px">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <h3 class="card-header">
                        Sign up for our seminars below
                    </h3>
                    <fieldset class="card-body">
                        <div class="py-2">
                            <h5 class="card-header">Parent/guardian's details</h5>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="name_first" class="form-label my-2">First name</label>
                                    <input type="text" class="form-control text-light" id="name_first"
                                           name="name_first"
                                           placeholder="Parent/guardian's first name" required>
                                </div>
                                <div class="form-group col">
                                    <label for="name_last" class="form-label my-2">Last name</label>
                                    <input type="text" class="form-control text-light" id="name_last"
                                           name="name_last"
                                           placeholder="Parent/guardian's last name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email_address" class="form-label my-2">Email address</label>
                                <input type="email" class="form-control text-light" id="email_address"
                                       name="email_address"
                                       placeholder="Parent/guardian's email address" required>
                            </div>
                            <div class="form-group">
                                <label for="cell_number" class="form-label my-2">Contact number</label>
                                <input type="tel" class="form-control text-light" id="cell_number"
                                       name="cell_number"
                                       placeholder="Parent/guardian's contact number">
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="checkbox" value="" id="parentCovidWaiver"
                                       name="parentCovidWaiver" required>
                                <label class="form-check-label" for="parentCovidWaiver">
                                    Do you (the parent/guardian) accept the <a
                                        href="{% static 'database/covid_waiver.pdf' %}" target="_blank">Covid waiver</a>?
                                </label>
                            </div>
                        </div>

                        <div class="py-2">
                            <h5 class="card-header">Student's details</h5>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="studentFirstName" class="form-label my-2">First name</label>
                                    <input type="text" class="form-control text-light" id="studentFirstName"
                                           name="studentFirstName"
                                           placeholder="Student's first name" required>
                                </div>
                                <div class="form-group col">
                                    <label for="studentLastName" class="form-label my-2">Last name</label>
                                    <input type="text" class="form-control text-light" id="studentLastName"
                                           name="studentLastName"
                                           placeholder="Student's last name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="studentEmail" class="form-label my-2">Email address</label>
                                <input type="email" class="form-control text-light" id="studentEmail"
                                       name="studentEmail"
                                       placeholder="Student's email address">
                            </div>
                            <div class="form-group">
                                <label for="studentPhoneNumber" class="form-label my-2">Contact number</label>
                                <input type="tel" class="form-control text-light" id="studentPhoneNumber"
                                       name="studentPhoneNumber"
                                       placeholder="Student's contact number">
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="checkbox" value="" id="studentCovidWaiver"
                                       name="studentCovidWaiver" required>
                                <label class="form-check-label" for="studentCovidWaiver">
                                    Do you (the student) accept the <a href="{% static 'database/covid_waiver.pdf' %}"
                                                                       target="_blank">Covid waiver</a>?
                                </label>
                            </div>
                        </div>

                        <div class="py-2">
                            <h5 class="card-header">Courses</h5>
                            <h6 class="my-2 text-info">Note on the course levels:</h6>
                            <p><i>Standard level</i> courses are teaching focussed for students who are not completely
                                comfortable with the content.</p>
                            <p><i>Advanced level</i> courses are practice focussed for students who are comfortable with
                                the content and would like more practice.</p>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Spaces remaining</th>
                                </tr>
                                </thead>
                                <tbody>
                                <fieldset class="form-group py-2">
                                    {% for seminar in seminars %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="seminarCheckBox{{ seminar.id }}"
                                                           name="seminarCheckBox{{ seminar.id }}"
                                                           onclick="reset_payment_button()"
                                                           data-price="{{ seminar.base_price }}"
                                                           data-id="{{ seminar.id }}">
                                                    <label class="form-check-label"
                                                           for="seminarCheckBox{{ seminar.id }}"></label>
                                                </div>
                                            </td>
                                            <td>{{ seminar.get_subject_display }}</td>
                                            <td>{{ seminar.get_level_display }}</td>
                                            <td>{{ seminar.date_and_time }}</td>
                                            <td>R{{ seminar.base_price }}</td>
                                            <td>{{ seminar.get_spaces_remaining }}</td>
                                        </tr>
                                    {% endfor %}
                                </fieldset>
                                {% for seminar in closed_seminars %}
                                    <tr class="text-muted">
                                        <td></td>
                                        <td>{{ seminar.get_subject_display }}</td>
                                        <td>{{ seminar.get_level_display }}</td>
                                        <td>{{ seminar.date_and_time }}</td>
                                        <td>R{{ seminar.base_price }}</td>
                                        <td>Full</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group py-2">
                            <label for="additionalInfoTextArea" class="form-label mt-4">Anything else we should
                                know?</label>
                            <textarea class="form-control text-light" id="additionalInfoTextArea"
                                      name="additionalInfoTextArea" rows="3" maxlength="255"
                                      placeholder="Additional comments..."></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer fixed-bottom mt-5 py-3 bg-primary">
        <div class="container">
            <div class="d-flex justify-content-center">
                <h3 class="text-center" id="paymentText"></h3>
            </div>
            <div class="d-flex justify-content-center">
                <button disabled type="submit" value="OK" class="btn btn-secondary" id="paymentButton"
                        onclick="generate_payment_info()">PAY NOW
                </button>
            </div>
        </div>
    </footer>
</form>
</body>
</html>